<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Alarm App
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToAddAlarm()">Add Alarm</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToSettings()">Settings</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let alarm of alarms ; let i = index ">
      <ion-label>
        <h2>{{alarm.time}} </h2>
        <p>{{alarm.label }}</p>
      </ion-label>
      <ion-buttons slot="end">
        
        <ion-button color="warning" (click)="editAlarm(i)">Edit</ion-button>
        <ion-button color="danger" (click)="deleteAlarm(i)">Delete</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>